@media (max-width: 1000px) {
	.about .container img {
		width: 350px;
		height: auto;
	}

	.about-img {
		margin-top: 100px;
	}

	.about .box {
		width: 350px;
	}

	.about p {
		font-size: 20px;
		line-height: 30px;
	}

	.about h2 {
		font-size: 50px;
		margin-bottom: 55px;
	}

	.works .pict img {
		width: 450px;
		height: auto;
		margin: 51px 100.5px 200px 0;
		border-radius: 9% 10% 10% 8% / 11% 13% 16% 19%;
	}

	.works .title {
		margin-top: 25%;
	}

	.works .title h3 {
		font-size: 50px;
	}
}

@media (max-width: 768px) {
	.jumbotron {
		background-image: url('../img/rectangle-copy-9.png');
	}

	.jumbotron h1 {
		font-size: 60px;
	}

	.about .about-img {
		display: none;
	}

	.about h2 {
		font-size: 45px;
		margin-bottom: 38.4px;
	}

	.works {
		flex-direction: column;
		justify-content: center;
	}

	.works.mid {
		flex-direction: column;
		justify-content: center;
	}

	.works .pict {
		width: 100%;
	}

	.works.mid .pict {
		width: 100%;
	}

	.works .pict img {
		width: 100%;
		height: auto;
		margin: 0;
		border-radius: 9% 10% 10% 8% / 11% 13% 16% 19%;
	}

	.works.mid .pict img {
		margin: 0;
	}

	.works.mid .pict img {
		width: 100%;
		height: auto;
		border-radius: 9% 10% 10% 8% / 11% 13% 16% 19%;
	}

	.works .title {
		margin-top: 0;
		display: flex;
		justify-content: center;
	}

	.contact h2 {
		font-size: 40px;
		line-height: 60px;
	}

	.contact .text p {
		font-size: 16px;
		line-height: 26px;
	}

	.contact .container {
		padding-top: 45%;
	}
}

@media (max-width: 500px) {
	.contact h2 {
		font-size: 32px;
		line-height: 48px;
	}

	.contact .text p {
		font-size: 14px;
		line-height: 26px;
	}

	.contact .container {
		padding-top: 50%;
	}
}
